---
const { href, title, body, thumbnail ,price } = Astro.props;
---
<div class="goods card">
<article >
<a href={href}>

  <img src=`/04_ecsite/images/${thumbnail}` alt={title} />
  <h2>{title}</h2>
  <p>{body}</p>
 <p>¥{price}</p>
</a>
</article>
</div>
