---
const { href, title, body, thumbnail,price } = Astro.props;
---
<div class="goods">
<article>
<a href={href}>

  <img src=`/images/${thumbnail}` alt={title} />
    <h2>{title}</h2>
  <p>{body}</p>
  <p>{price}</p>
</a>
</article>
</div>